@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* start */
.load-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  transition: opacity 0.2s ease-in;
}
.load-wrapper.hidden {
  pointer-events: none;
  opacity: 0;
}
.header-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  width: 65px;
  transform: translate(-50%, -50%);
}
article {
  flex-flow: column wrap;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 0 2.618vw;
  margin-bottom: 1.618vh;
  text-align: left;
  vertical-align: middle;
}
.photo-container {
  /* @apply max-w-screen-lg; */
  /* background: linear-gradient(to bottom, whitesmoke 0%, white 100%); */
}
.photoset .photo-container {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: space-around;
}
.photoset img {
  flex-basis: 25%;
  flex-grow: 2;
  flex-shrink: 2;
  width: 25%;
  margin: 0 0 1em;
}
#posts-wrapper {
  padding: 25px 0;
  opacity: 0;
  transition: all 0.2s;
}
#posts-wrapper.appear {
  opacity: 1;
  transition: all 0.3s;
}
.sunk-short {
  transform: translate(0, -10em);
  animation: sunk-short 3s 0s ease-out forwards;
}

@keyframes sunk-short {
  0% {
    transform: translate(0, -1em);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* //test */
.fade-enter #posts-wrapper {
  opacity: 0;
}
.fade-enter-active #posts-wrapper {
  opacity: 1;
}
.fade-exit #posts-wrapper {
  opacity: 1;
}
.fade-exit-active #posts-wrapper {
  opacity: 0;
}
.fade-enter-active #posts-wrapper,
.fade-exit-active #posts-wrapper {
  transition: opacity 500ms, transform 500ms;
}
