@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* start */
.header-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  width: 65px;
  transform: translate(-50%, -50%);
}
article {
  flex-flow: column wrap;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 0 2.618vw;
  margin-bottom: 1.618vh;
  text-align: left;
  vertical-align: middle;
}
.photo-container {
  /* @apply max-w-screen-lg; */
  /* background: linear-gradient(to bottom, whitesmoke 0%, white 100%); */
}
.photoset .photo-container {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: space-around;
}
.photoset img {
  flex-basis: 25%;
  flex-grow: 2;
  flex-shrink: 2;
  width: 25%;
  margin: 0 0 1em;
}
/* //ロード時のアニメーション */
.sunk-short {
  transform: translate(0, -10em);
  animation: sunk-short 3s 0s ease-out forwards;
}

@keyframes sunk-short {
  0% {
    transform: translate(0, -1em);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* //tag switch */
/* http://reactcommunity.org/react-transition-group/css-transition */
#posts-wrapper {
  padding: 25px 0;
}
.fade-wrapper {
  @apply flex flex-col items-center justify-center min-h-screen;
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  opacity: 0;
  transition: 500ms, translate 2000ms;
}
.fade-appear-active,
.fade-appear-done {
  position: static;
  display: flex;
  opacity: 1;
  transition: 3000ms;
}
.fade-appear,
.fade-enter {
  position: static;
  display: flex;
  opacity: 0;
  transform: translate(0, -1rem);
}
.fade-enter-active {
  position: static;
  display: flex;
  opacity: 1;
  transform: translate(0, 0);
}
.fade-enter-done {
  position: static;
  display: flex;
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-exit-done {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  transform: translate(0, -10rem);
}
