@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* start */
/* index only */
header {
  margin-bottom: 0;
  font-size: 0.82rem;
  /* https://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%28top\%2C\%20rgba\%28245\%2C245\%2C245\%2C1\%29\%200\%25\%2C\%20rgba\%28237\%2C251\%2C255\%2C1\%29\%2016\%25\%2C\%20rgba\%28237\%2C245\%2C247\%2C1\%29\%2024\%25\%2C\%20rgba\%28255\%2C255\%2C255\%2C1\%29\%20100\%25\%29\%3B' */
  /* background: whitesmoke; */
  background: linear-gradient(
    to bottom,
    rgb(245 245 245 / 100%) 0%,
    rgb(237 251 255 / 100%) 16%,
    rgb(237 245 247 / 100%) 24%,
    rgb(255 255 255 / 100%) 100%
  );
}
header a {
  margin: 0 0.2em;
  line-height: 2.92em;
  letter-spacing: 0.15em;
}
header nav {
  font-size: 1rem;
}
.header-title {
  margin-bottom: 0.1618em;
  font-size: 1.618em;
  color: #555;
  letter-spacing: 0.2em;
}
.header-desc,
.header-title {
  opacity: 1;
}
.index-img {
  @apply bg-surface;
  position: relative;
  top: 0;
  width: 100%;
  height: 38vh;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  background-size: 120% 50%;
  transform: matrix(1, 0, 0, 0.9, 0, 20);
  animation: wave 180s 0s ease-out forwards;
}
@keyframes wave {
  0% {
    transform: matrix(1, 0, 0, 0.7, 0, 10);
  }
  2% {
    transform: matrix(1, 0, 0, 0.8, 0, 0);
  }
  10% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  30% {
    transform: matrix(1, 0, 0, 0.8, 0, -10);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
.sunk {
  opacity: 0;
  transform: translate(0, -3em);
  animation: sunk 10s 0.3s ease-out forwards
    /* ,
    drift 10s ease-in-out 3s infinite alternate */;
}

@keyframes sunk {
  0% {
    opacity: 0;
    transform: translate(0, -3em);
  }
  1% {
    opacity: 0.618;
    transform: translate(0, -1em);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes drift {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 10px);
  }
}
/* スクロール後 */
header.shrink {
  position: sticky;
  margin-bottom: 18vh;
  background: linear-gradient(
    to bottom,
    rgb(245 245 245 / 100%) 0%,
    rgb(237 251 255 / 30%) 16%,
    rgb(237 245 247 / 0%) 24%,
    rgb(255 255 255 / 0%) 100%
  );
  /* transition: 500ms; */
}
header.shrink .index-img {
  top: -2vh;
  height: 10vh;
  /* background-size: 120% 100%; */
  /* transition: 200ms; */
  animation: wave 180s 0s ease-out forwards;
}
header.shrink .header-desc,
header.shrink .header-title {
  display: none;
  opacity: 0;
  /* transition: 200ms; */
}
header.shrink nav {
  z-index: 9;
  /* transition: 200ms; */
  transform: translate(0, -11vh);
  animation: wave-shrink 3s 0s ease-out forwards;
}
@keyframes wave-shrink {
  0% {
    background-size: 120% 50%;
  }
  100% {
    background-size: 120% 100%;
  }
}
